<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h2><%= data.prenom %></h2>
    <h1><%= data.nom %></h1>
    <p><%= data.email %></p>
    <p><%= data.message %></p>
    <p><%= data._id %></p>

    <form action="/edit/<%= data._id %>?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">

        <label for="">Nom</label>
        <input type="text" name="nom" value="<%= data.nom %>">
        <br/>
        <label for="">Prenom</label>
        <input type="text" name="prenom" value="<%= data.prenom %>">
        <br/>
        <label for="">E-mail</label>
        <input type="text" name="email" value="<%= data.email %>">
        <br/>
        
        <label for="">Message :</label>
        <Textarea name="message">
            <%= data.message %>
        </Textarea>
        <br/>
        <input type="submit" value="Editer la donnée">
    </form>

    <form action="/delete/<%= data._id %>?_method=DELETE" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete">

    </form>

</body>
</html>